<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :effect %>
    <%= form.text_field :effect %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value %>
  </div>

  <input type="hidden" name="item[imageable_type]" value="Location">


  <div class="field">
    <%= form.label :location_id %>
    <%= form.number_field :imageable_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
